/* FONTS */
@font-face {
  font-family: 'bonvenocflight';
  src: url("fonts/BonvenoCF-Light-webfont.eot");
  src: url("fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("fonts/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'trystregular';
  src: url("fonts/Tryst-Regular-webfont.eot");
  src: url("fonts/Tryst-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Tryst-Regular-webfont.woff2") format("woff2"), url("fonts/Tryst-Regular-webfont.woff") format("woff"), url("fonts/Tryst-Regular-webfont.ttf") format("truetype"), url("fonts/Tryst-Regular-webfont.svg#trystregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* end fonts */
/*MAIN CSS*/
body {
  color: #444444;
  line-height: 1.4;
  background-color: #f3e5d3;
  font-family: bonvenocflight, Verdana, sans-serif; }

a {
  font-weight: bold;
  color: #7a9ea6;
  text-decoration: none; }

a:hover {
  color: #444444;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }

h2 {
  font-size: 1.5em; }

h3 {
  margin-bottom: 0.25em;
  font-family: trystregular, Times, serif;
  font-weight: 100;
  font-size: 1.25em;
  border-bottom: 1px solid #7a9ea6;
  padding: 0.5% 0.5% 0.5% 1%;
  margin: 0 auto 1% auto; }

/*TOP BAR & NAV*/
.top-bar {
  font-family: bonvenocflight, Verdana, sans-serif;
  font-size: 0.75em;
  background: url("../../imgs/seashell-opacity.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 10000;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }

.icon-section {
  font-weight: bold;
  padding: 1%; }

.top-logo {
  width: 100%;
  margin: 1%;
  cursor: pointer; }

.nav-bar {
  font-weight: bold; }

.nav-collapse {
  text-align: right; }
  .nav-collapse ul li {
    font-size: 1.5em;
    display: inline-block;
    padding: 0.75em 0.75em 0.75em 0.75em; }
    .nav-collapse ul li a {
      text-decoration: none;
      color: #444444;
      -webkit-transition: color 100ms;
      -moz-transition: color 100ms;
      -o-transition: color 100ms;
      transition: color 100ms; }
    .nav-collapse ul li a:hover {
      border-bottom: 2px #173059 solid;
      color: #7a9ea6;
      -webkit-transition: color 100ms;
      -moz-transition: color 100ms;
      -o-transition: color 100ms;
      transition: color 100ms;
      -webkit-transition: border-bottom 100ms;
      -moz-transition: border-bottom 100ms;
      -o-transition: border-bottom 100ms;
      transition: border-bottom 100ms; }

.nav-toggle {
  text-align: right;
  float: right;
  padding: 15%;
  margin: 1%;
  text-decoration: none;
  color: #444444;
  background-image: url("../../imgs/menu.svg");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: center;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  -webkit-transition: display 300ms;
  -moz-transition: display 300ms;
  -o-transition: display 300ms;
  transition: display 300ms; }

.nav-toggle:hover {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms; }

.active {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 400ms;
  -moz-transition: transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms; }

.main-contact-buttons {
  display: none;
  -webkit-transition: display 300ms;
  -moz-transition: display 300ms;
  -o-transition: display 300ms;
  transition: display 300ms; }

.mobile-contact-buttons {
  display: inline-block;
  -webkit-transition: display 300ms;
  -moz-transition: display 300ms;
  -o-transition: display 300ms;
  transition: display 300ms; }

/* SPLASH IMG */
.main-bg {
  background: url("../../imgs/no-flight-edit-filter-sm.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  padding-top: 10vh;
  height: 100vh;
  z-index: 1;
  text-align: center;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s; }

.main-name, .main-tagline {
  font-family: bonvenocflight, Verdana, sans-serif;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s; }

.main-name {
  font-size: 2.25em;
  color: #444444; }

.main-tagline {
  font-size: 1.25em;
  margin-top: 0;
  color: #444444; }

/*SOCIAL MEDIA ICONS - SMALL SCREEN SIZES*/
.mobile-contact-buttons {
  margin-top: 1em; }

.social-icon-below {
  margin: 0 1em 0 1em;
  font-size: 2em;
  color: #444444; }

.social-icon-below:hover {
  color: #7a9ea6;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }

/*PORTFOLIO*/
.portfolio-span {
  width: 100%;
  text-align: center;
  margin: 0 auto 1em auto;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s; }

.item-wrapper {
  width: 100%; }

.effect-zoe {
  background-color: #F1F0F3;
  margin: 0 auto 2em auto;
  width: 100%; }
  .effect-zoe img {
    width: 100%;
    border: 10px solid #F1F0F3;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s; }

.portfolio-title {
  font-size: 1.75em; }

.portfolio-description {
  text-transform: lowercase; }

.hover-caption {
  padding: 10px; }

.portfolio-tools {
  display: inline-block;
  padding: 0;
  margin-top: 0; }
  .portfolio-tools li {
    display: inline-block;
    font-size: 0.75em;
    border: 1px solid #f3cca2;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 0.5em; }

.social-icon-launch {
  font-size: 2.5em;
  margin: 0 0.25em 0 0.25em; }

/*ABOUT*/
.about-display {
  text-align: center;
  font-family: bonvenocflight, Verdana, sans-serif;
  margin: 0 auto;
  background-color: #F1F0F3;
  padding-bottom: 0.83em;
  padding-left: 0;
  padding-right: 0; }

.description-text {
  font-size: 0.9em;
  line-height: 1.2;
  margin-top: 2%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.skills-section, .skills-section-two {
  padding: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.skills-section-two {
  padding-bottom: 1em; }

.skill-single {
  text-align: left;
  font-size: 0.9em;
  display: inline-block;
  margin: 0;
  padding-left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.sk-dot {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 8px;
  background-color: #173059;
  margin-left: 0.8em;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s; }

.about-timeline h3 {
  margin-bottom: 2%; }

/*TIMELINE - http://tympanus.net/codrops/2013/05/02/vertical-timeline/*/
.cbp_tmtimeline {
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  margin: 2% 5% 0 5%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #7a9ea6;
  left: 20%; }

.cbp_tmtimeline > li {
  position: relative; }

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  position: absolute; }

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.5em;
  color: #173059; }

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 0.75em;
  color: #173059; }

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 10% 0.5% 25%;
  background: #173059;
  color: #f3e5d3;
  padding: 0.5em;
  font-size: 0.75em;
  font-weight: 300;
  line-height: 0.75;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .cbp_tmtimeline > li .cbp_tmlabel p {
    margin: 0;
    margin-top: 0.5em;
    padding: 0; }

.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin: 0;
  padding-bottom: 0.5%;
  border-bottom: 1px solid #f3e5d3;
  font-size: 1.25em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #173059;
  border-width: 10px;
  top: 10px; }

/*end timeline*/
/*CONTACT*/
.contact-display {
  background-color: #f3e5d3;
  text-align: center; }

.contact-icon {
  padding: 0 2% 0 2%; }

.contact-display h3 {
  text-align: center;
  margin: 1% auto 2% auto;
  width: 75%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.bottom-logo {
  width: 15%;
  margin-bottom: 2%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#dl-resume-button {
  border: 1px solid #7a9ea6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin: 1% 0 0 0;
  padding: 0.2em; }

#dl-resume-button:hover {
  background-color: #F1F0F3;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #7a9ea6; }

/* WHEN background-size: cover NOT SUPPORTED i.e. some smaller older devices */
@media screen and (max-width: 320px) and (orientation: portrait) {
  body {
    background-color: #f3e5d3;
    font-weight: bold; }

  .top-bar {
    position: static;
    background: none;
    background-color: #f3e5d3; }

  .top-logo {
    width: 50px;
    vertical-align: middle; }

  .main-bg {
    position: static;
    background: url("../../imgs/no-flight-edit-filter-xs.jpg") no-repeat;
    -webkit-background-size: auto 350px;
    -moz-background-size: auto 350px;
    -o-background-size: auto 350px;
    background-size: auto 350px;
    vertical-align: middle;
    top: auto;
    padding-top: 0;
    height: 350px;
    color: #444444; }

  .main-name {
    margin-top: 1em;
    position: satic;
    font-size: 1.5em;
    padding-top: 0; }

  .main-tagline {
    font-size: 1em;
    color: #444444; }

  .nav-toggle {
    padding: 20px; }

  .nav-toggle:hover {
    -ms-transform: rotate(0deg);
    -webkit-transform: 0rotate 0deg;
    -moz-transform: 0rotate 0deg;
    transform: rotate(0deg); }

  .active {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: 0 rotate(0deg);
    transform: 0 rotate(0deg); }

  .mobile-contact-buttons {
    margin-top: 0; }

  .social-icon-below {
    margin: 0 0.5em 0 0.5em;
    color: #444444; }

  .hover-caption {
    padding: 0; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 0.5% 22%;
    font-size: 0.75em;
    line-height: 1.2;
    position: relative; }

  .cbp_tmtimeline {
    margin: 0 0 20px 0; }

  .cbp_tmtimeline > li .cbp_tmtime {
    width: 35%;
    padding-right: 60px; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    left-margin: 15%; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    left-margin: 15%; }

  .contact-display h3 {
    margin-bottom: 15px; }

  .contact-icon {
    padding: 0 0.5% 0 0.5%; }

  .bottom-logo {
    width: 75px;
    margin-bottom: 15px; } }
/*MIDDLEMAN MEDIA QUERIES*/
@media screen and (min-width: 20em) {
  .nav-toggle {
    padding: 8.5%; }

  .main-tagline {
    color: #444444;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }

  .bottom-logo {
    width: 20%; } }
@media screen and (min-width: 30em) {
  .nav-toggle {
    padding: 7.5%; }

  .main-tagline {
    color: #444444;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; } }
/*ABOVE RESPONSIVE MENU BREAK SIZE*/
@media screen and (min-width: 40em) {
  h2 {
    font-size: 2em; }

  .top-bar {
    height: 10vh;
    font-size: 1em;
    position: fixed;
    vertical-align: bottom;
    text-align: center;
    line-height: 10vh; }

  .top-bar-shrink {
    height: 5vh;
    font-size: 0.75em;
    line-height: 5vh;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    -webkit-transition: font 0.3s;
    -moz-transition: font 0.3s;
    -o-transition: font 0.3s;
    transition: font 0.3s; }

  .icon-section {
    padding: 0; }

  .top-logo {
    width: 10vh;
    vertical-align: middle; }

  .top-logo-shrink {
    width: 5vh;
    vertical-align: middle;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s; }

  .nav-collapse {
    background: none;
    text-align: right; }
    .nav-collapse ul li {
      font-size: 1em;
      display: inline;
      padding: 0 0.5em 0.5em 0.5em; }
      .nav-collapse ul li a {
        -webkit-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        transition: color 200ms; }
      .nav-collapse ul li a:hover {
        border-bottom: 3px #173059 solid;
        -webkit-transition: color 200ms;
        -moz-transition: color 200ms;
        -o-transition: color 200ms;
        transition: color 200ms; }

  .main-bg {
    background: url("../../imgs/no-flight-edit-filter-sm.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    z-index: 1; }

  .main-name {
    font-size: 3em;
    color: #444444;
    margin-top: 20vh;
    -webkit-transition: margin 0.3s;
    -moz-transition: margin 0.3s;
    -o-transition: margin 0.3s;
    transition: margin 0.3s; }

  .main-tagline {
    font-size: 1.5em;
    color: #444444; }

  .social-icon-below {
    color: #444444; }

  .portfolio-span {
    width: 68%;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s; }

  .description-text {
    font-size: 1em; }

  .about-timeline h3 {
    text-align: left;
    font-size: 1.75em; }

  .skill-single {
    text-align: left;
    font-size: 1em;
    display: inline-block;
    margin: 0;
    padding-left: 0;
    font-weight: bolder; }

  .cbp_tmtimeline {
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%; }

  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.75em; }

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 0.9em; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 5% 0.5% 22%;
    line-height: 1.4;
    font-size: 0.9em; }

  .cbp_tmtimeline:before {
    left: 17%; }

  .contact-icon {
    padding: 0 3% 0 3%; }

  .bottom-logo {
    width: 136px;
    margin-bottom: 2%; } }
/* Small devices (tablets, 768px and up) */
/* SOCIAL MEDIA ICONS BREAK SIZE - LARGE SCREEN SIZES*/
@media screen and (min-width: 768px) {
  .nav-collapse {
    text-align: center; }

  .main-contact-buttons {
    display: block; }

  /*SOCIAL MEDIA ICONS*/
  .social-icon-nav {
    margin-left: 1em;
    font-size: 1.25em;
    color: #444444; }

  .social-icon-nav:hover {
    color: #7a9ea6;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }

  .mobile-contact-buttons {
    display: none; }

  /*PORTFOLIO*/
  .portfolio-span {
    width: 95%; }

  .effect-zoe {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 400px;
    width: 45%;
    height: 45%;
    text-align: center; }
    .effect-zoe img {
      position: relative;
      display: block;
      max-width: 100%;
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .effect-zoe figcaption {
      position: absolute;
      font-size: 1em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      width: 95%;
      margin: 0 auto;
      bottom: 0;
      padding: 2.5%;
      color: #444444;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); }
      .effect-zoe figcaption h3 {
        position: absolute;
        bottom: 10px;
        left: 20px;
        color: #444444;
        font-weight: bolder;
        border: none;
        font-size: 1.2em;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s; }
    .effect-zoe figcaption, .effect-zoe figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .effect-zoe .launch-buttons {
      position: absolute;
      right: 20px;
      bottom: 15px; }
      .effect-zoe .launch-buttons i {
        font-size: 2em;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0); }
    .effect-zoe .portfolio-description {
      opacity: 0.85;
      position: absolute;
      background: #F1F0F3;
      top: 22%;
      color: #444444;
      font-size: 60%;
      width: 90%;
      margin: 0 2.5% 0 2.5%;
      border-radius: 10px;
      padding: 2.5%;
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
      -webkit-backface-visibility: hidden;
      /* Fix for Chrome 37.0.2062.120 (Mac) */
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -webkit-transform: translate3d(-200%, -195%, 0);
      transform: translate3d(-200%, -195%, 0); }

  .social-icon-launch {
    font-size: 2em;
    margin: 0 0.05em 0 0.05em; }

  .portfolio-tools {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -1000%, 0);
    transform: translate3d(0, -1000%, 0); }
    .portfolio-tools li {
      font-size: 0.6em;
      background: #F1F0F3;
      opacity: 0.85; }

  .effect-zoe:hover figcaption, .effect-zoe:hover figcaption h3, .effect-zoe:hover .launch-buttons i {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .effect-zoe:hover img {
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .effect-zoe:hover h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .effect-zoe:hover .portfolio-tools {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .effect-zoe:hover .portfolio-description {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  .about-description {
    text-align: left; }
    .about-description h3 {
      text-align: left;
      font-size: 1.75em; }

  .skills-section {
    padding: 0 15px 0 0; }

  .skill-single {
    padding: 2%; }

  .cbp_tmtimeline {
    padding: 0;
    list-style: none;
    position: relative; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 0.5% 28%; }

  .cbp_tmtimeline:before {
    left: 23%; } }
/*for portfolio item font sizes */
@media screen and (min-width: 850px) {
  .effect-zoe figcaption h3 {
    font-size: 1.4em; }
  .effect-zoe .portfolio-description {
    font-size: 70%;
    top: 24%; }

  .social-icon-launch {
    font-size: 2em;
    margin: 0 0.05em 0 0.05em; }

  .portfolio-tools li {
    font-size: 0.7em;
    background: #F1F0F3;
    opacity: 0.85; } }
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .effect-zoe figcaption h3 {
    font-size: 1.6em; }
  .effect-zoe .portfolio-description {
    font-size: 83%;
    top: 23%; }

  .social-icon-launch {
    font-size: 2em;
    margin: 0 0.1em 0 0.1em; }

  .portfolio-tools li {
    font-size: 0.8em;
    background: #F1F0F3;
    opacity: 0.85; } }
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .portfolio-single-wrapper {
    width: 900px; }

  .about-display {
    text-align: center; }

  .description-text {
    font-size: 1.2em; }

  .skill-single {
    font-size: 1.25em; }

  .sk-dot {
    width: 1em;
    height: 1em; }

  .cbp_tmtimeline {
    width: 100%; }

  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.8em; }

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 0.95em; }

  .cbp_tmtimeline:before {
    left: 20%; }

  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0% 0.5% 25%;
    font-size: 1em; } }

/*# sourceMappingURL=style.css.map */
