/* FONTS */
@font-face {
    font-family: 'bonvenocflight';
    src: url('fonts/BonvenoCF-Light-webfont.eot');
    src: url('fonts/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BonvenoCF-Light-webfont.woff') format('woff'),
         url('fonts/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('fonts/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trystregular';
    src: url('fonts/Tryst-Regular-webfont.eot');
    src: url('fonts/Tryst-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Tryst-Regular-webfont.woff2') format('woff2'),
         url('fonts/Tryst-Regular-webfont.woff') format('woff'),
         url('fonts/Tryst-Regular-webfont.ttf') format('truetype'),
         url('fonts/Tryst-Regular-webfont.svg#trystregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* end fonts */

// VARIABLES

    //fonts
    $bonveno : bonvenocflight, Verdana, sans-serif;
    $tryst : trystregular, Times, serif;

    //transparent bg path
    $seashell-opacity : "../../imgs/seashell-opacity.png";

    //color scheme
    $seashell : #F1F0F3;
    $lightyellow: #f3e5d3;
    $midyellow: #e8dcb6;
    $sand: #f3cca2;
    $dullsky: #7a9ea6;
    $darkblue: #173059;
    $text: #444444;


//MIXINS

    // border-radius
    @mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
              border-radius: $radius;
    }

    // full background
    @mixin full-background($path) {
        background: url($path) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    // full background mobile
    @mixin full-background-mobile($path) {
        background: url($path) no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    // window-height background size for browsers not supporting :cover
    @mixin full-background-mobile-old($path) {
        background: url($path) no-repeat; 
        -webkit-background-size: auto 350px;
        -moz-background-size: auto 350px;
        -o-background-size: auto 350px;
        background-size: auto 350px;
    }

    //background-size
    @mixin background-size($width) {
        -webkit-background-size: $width;
        -moz-background-size: $width;
        -o-background-size: $width;
        background-size: $width;
    }

    //background-repeat
    @mixin background-repeat($type) {
        -webkit-background-repeat: $type;
        -moz-background-repeat: $type;
        -o-background-repeat: $type;
        background-repeat: $type;
    }

    // transitions
    @mixin transitions($type, $ms) {
        -webkit-transition: $type $ms;
        -moz-transition: $type $ms;
        -o-transition: $type $ms;
        transition: $type $ms;
    }

    //box-shadow
    @mixin shadow() {
        -webkit-box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.75);
        -moz-box-shadow:    0px 0px 21px 0px rgba(255, 255, 255, 0.75);
        box-shadow:         0px 0px 21px 0px rgba(255, 255, 255, 0.75);
    }

    @mixin shadow-black() {
        -webkit-box-shadow: 0px 0px 21px 0px $text;
        -moz-box-shadow:    0px 0px 21px 0px $text;
        box-shadow:         0px 0px 21px 0px $text;
    }

    @mixin vertical-align {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }


/*MAIN CSS*/

body {
    color: $text;
    line-height: 1.4;
    background-color: $lightyellow;
    font-family: $bonveno;
}

a {
    font-weight: bold;
    color: $dullsky;
    text-decoration: none;
}

a:hover {
    color: $text;
    @include transitions(color, 0.3s);
}

h2 {
    font-size: 1.5em;
}


h3 {
    margin-bottom: 0.25em;
    font-family: $tryst;
    font-weight: 100;
    font-size: 1.25em;
    border-bottom: 1px solid $dullsky;
    padding: 0.5% 0.5% 0.5% 1%;
    margin: 0 auto 1% auto;
}

/*TOP BAR & NAV*/
.top-bar {
    font-family: $bonveno;
    font-size: 0.75em;
    @include full-background($seashell-opacity);
    vertical-align: middle;
    position: absolute;
    text-align: center;
    width: 100vw;
    z-index: 10000;
    overflow: hidden;
    @include transitions(height, 0.3s);
}

.icon-section {
    font-weight: bold;
    padding: 1%;
}

.top-logo {
    width: 100%;
    margin: 1%;
    cursor: pointer;
    @include transitions(width, 0.3s);
}

.nav-bar {
    font-weight: bold;
}

.nav-collapse { 
    text-align: right;  
    ul {
        li {
            font-size: 1.5em;
            display: inline-block;
            padding: 0.75em 0.75em 0.75em 0.75em;

            a {
                text-decoration: none;
                color: $text;
                @include transitions(color, 100ms);
            }
            a:hover {
                border-bottom: 2px #173059 solid;
                color: $dullsky;
                @include transitions(color, 100ms);
                @include transitions(border-bottom, 100ms);
            }
        }
    }
}

.nav-toggle {
    text-align: right;
    float: right;
    padding: 15%;
    margin: 1%;
    text-decoration: none;
    color: $text;
    background-image: url("../../imgs/menu.svg");
    @include background-size(100%);
    background-position: center;
    @include background-repeat(no-repeat);
    @include transitions(transform, 400ms);
    @include transitions(display, 300ms);
}

.nav-toggle:hover {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    @include transitions(transform, 400ms);
}

.active { 
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    @include transitions(transform, 400ms);
}

.main-contact-buttons {
    display:none;
    @include transitions(display, 300ms);
}

.mobile-contact-buttons {
    display: inline-block;
    @include transitions(display, 300ms);
}

/* SPLASH IMG */
.main-bg {
    position: static;
    @include full-background-mobile("../../imgs/no-flight-edit-filter-sm.jpg");
    width: 100%;
    padding-top: 10vh;
    height: 100vh;
    z-index: 1;
    text-align: center;
    @include transitions(height, 0.3s);
    @include transitions(top, 0.3s);  
}

.main-name, .main-tagline {
    font-family: $bonveno; 
    margin: 0 auto;
    margin-top: 20vh;
    text-align: center;
    @include transitions(margin, 0.3s); 
}

.main-name {
    font-size: 2.25em; 
    color: $text; 
}

.main-tagline {
    font-size: 1.25em; 
    margin-top: 0; 
    color: $text; 
}

/*SOCIAL MEDIA ICONS - SMALL SCREEN SIZES*/

.mobile-contact-buttons {
    margin-top: 1em;
}

.social-icon-below {
    margin: 0 1em 0 1em;
    font-size: 2em;
    color: $text;
}

.social-icon-below:hover {
    color: $dullsky;
    @include transitions(color, 0.3s); 
}


/*PORTFOLIO*/

.portfolio-span {
    width: 100%;
    text-align: center;
    margin: 0 auto 1em auto;
    @include transitions(width, 0.3s);
}

.item-wrapper {
    width: 100%;
}

.effect-zoe {
    background-color: $seashell;
    margin: 0 auto 2em auto;
    width: 100%;
    img {
        width: 100%;
        border: 10px solid $seashell;
        @include transitions(width, 0.5s);
    }
}

.portfolio-title {
    font-size: 1.75em;
}

.portfolio-description {
    text-transform: lowercase;
}

.hover-caption {
    padding: 10px;
}

.portfolio-tools {
    display: inline-block;
    padding: 0;
    margin-top: 0;
    li {
        display: inline-block;
        font-size: 0.75em;
        border: 1px solid $sand;
        border-radius: 4px;
        padding: 0.5em;
        margin-top: 0.5em;
    }
}

.social-icon-launch {
    font-size: 2.5em;
    margin: 0 0.25em 0 0.25em;
}




/*ABOUT*/

.about-display {
    text-align: center;
    font-family: $bonveno;
    margin: 0 auto;
    background-color: $seashell;
    padding-bottom: 0.83em;
    padding-left: 0;
    padding-right: 0;
}

.description-text {
    font-size: 0.9em;
    line-height: 1.2;
    margin-top: 2%;
    @include transitions(all, 0.3s);
}

.skills-section, .skills-section-two {
    text-align: left;
    padding: 0;
    @include transitions(all, 0.3s);
}

.skills-section-two {
    padding-bottom: 1em;
}

.skill-names {
    text-align: right;
}

.skill-single {
    text-align: left;
    font-size: 0.9em;
    display: inline-block;
    margin: 0;
    padding-left: 0;
    @include transitions(all, 0.3s);
}

.sk-dot {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 8px;
    background-color: $darkblue;
    margin-left: 0.8em;
    @include transitions(width, 0.3s);
    @include transitions(width, 0.3s);
}

.about-timeline h3 {
    margin-bottom: 2%
}


/*TIMELINE - http://tympanus.net/codrops/2013/05/02/vertical-timeline/*/
.cbp_tmtimeline {
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 2% 5% 0 5%;
    @include transitions(all, 0.3s);
} 

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: $sand;
    left: 20%;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
    font-weight: bold;
    @include transitions(all, 0.3s);
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.5em;
    color: $text;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 0.75em;
    color: $text;
}


/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 10% 0.5% 25%;
    background: $dullsky;
    color: $darkblue;
    padding: 0.5em;
    font-size: 0.75em;
    font-weight: 300;
    line-height: 0.75;
    position: relative;
    @include border-radius(5px);
    text-align: left;
    @include transitions(all, 0.3s);
    p {
        margin: 0;
        margin-top: 0.5em;
        padding:0; 
    }
}


.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin: 0;
    padding-bottom: 0.5%;
    border-bottom: 1px solid $darkblue;
    font-size: 1.25em;
    @include transitions(all, 0.3s);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: $dullsky;
    border-width: 10px;
    top: 10px;
}
/*end timeline*/

/*CONTACT*/

.contact-display {
    background-color: $lightyellow;
    text-align: center;

}

.contact-icon {
    padding: 0 2% 0 2%;
}

.contact-display {
    h3 {
        text-align: center;
        margin: 1% auto 2% auto;
        width: 75%;
        @include transitions(all, 0.3s);
    }
}

#bottom-logo {
    width: 15%;
    margin-bottom: 2%;
    @include transitions(all, 0.3s);
    cursor: pointer;
}

#dl-resume-button {
    border: 1px solid $dullsky;
    @include border-radius(4px);
    margin: 1% 0 0 0;
    padding: 0.2em;
}

#dl-resume-button:hover {
    background-color: $seashell;
    @include transitions(background-color, 0.3s);
    color: $dullsky;
}



/* WHEN background-size: cover NOT SUPPORTED i.e. some smaller older devices */
@media screen and (max-width: 320px) and (orientation: portrait) {

    body {
        background-color: $lightyellow;
        font-weight: bold;
    }

    .top-bar {
        position: static;
        background: none;
        background-color: $lightyellow;
    }

    .top-logo {
        width: 50px;
        vertical-align: middle;
    }

    .main-bg {
        position: static;
        @include full-background-mobile-old("../../imgs/no-flight-edit-filter-xs.jpg");
        vertical-align: middle;
        top: auto;
        padding-top: 0;
        height: 350px;
        color: $text;
    }

    .main-name {
        margin-top: 1em;
        position:satic;
        font-size: 1.5em;
        padding-top: 0;
    }

    .main-tagline {
        font-size: 1em;
        color: $text;
    }

    .nav-toggle {
        padding: 20px;
    }

    .nav-toggle:hover {
        -ms-transform: rotate(0deg);
        -webkit-transform: 0rotate(0deg);
        -moz-transform: 0rotate(0deg);
        transform: rotate(0deg);

    }

    .active { 
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: 0 rotate(0deg);
        transform: 0 rotate(0deg);
    }

    .mobile-contact-buttons {
        margin-top: 0;
    }

    .social-icon-below {
        margin: 0 0.5em 0 0.5em;
        color: $text;
    }

    .hover-caption {
        padding: 0;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 0.5% 22%;
        font-size: 0.75em;
        line-height: 1.2;
        position: relative;
    }

    .cbp_tmtimeline {
        margin: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width:35%;
        padding-right: 60px;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        left-margin:15%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        left-margin:15%;
    }

    .contact-display {
        h3 {
            margin-bottom: 15px;
        }
    }

    .contact-icon {
        padding: 0 0.5% 0 0.5%;
    }

    #bottom-logo {
        width: 75px;
        margin-bottom: 15px;
    }


}


/*MIDDLEMAN MEDIA QUERIES*/
@media screen and (min-width: 20em) {

    .nav-toggle {
        padding: 8.5%;
    }

    .main-tagline {
        color: $text;
        @include transitions(color, 0.3s);
    }

    #bottom-logo {
        width: 20%;
    }

}

@media screen and (min-width: 30em) {

    .nav-toggle {
        padding: 7.5%;
    }

    .main-tagline {
        color: $text;
        @include transitions(color, 0.3s)
    }


    .skills-section, .skills-section-two {
        width:25%;
    }

}



/*ABOVE RESPONSIVE MENU BREAK SIZE*/
@media screen and (min-width: 40em) {

    h2 {
        font-size: 2em;
    }

    .top-bar {
        height: 10vh;
        font-size: 1em;
        position: fixed;
        vertical-align: bottom;
        text-align: center;
        line-height: 10vh;
    }

    .top-bar-shrink {
        height: 5vh;
        font-size: 0.75em;
        line-height: 5vh;
        @include transitions(height, 0.3s);
        @include transitions(font, 0.3s);
    }

    .icon-section {
        padding: 0;
    }

    .top-logo {
        width: 10vh;
        vertical-align: middle;
    }

    .top-logo-shrink {
        width: 5vh;
        vertical-align: middle;
        @include transitions(width, 0.3s);
    }

    .nav-collapse {  
        background: none;
        text-align: right;
        ul {
            li {
                font-size: 1em;
                display: inline;
                padding: 0 0.5em 0.5em 0.5em;
                a {
                   @include transitions(color, 200ms); 
                }
                a:hover {
                    border-bottom: 3px #173059 solid;
                    @include transitions(color, 200ms);
                }
            }
        }
    }

    .main-bg {
        @include full-background("../../imgs/no-flight-edit-filter-sm.jpg");
        width: 100%;
        z-index: 1;
    }

    .main-name {
        font-size: 3em;
        color: $text; 
        margin-top: 20vh;
        @include transitions(margin, 0.3s); 
    }

    .main-tagline {
        font-size: 1.5em; 
        color: $text; 
    }


    .social-icon-below {
        color: $text;
    }


    .portfolio-span {
        width: 68%;
        @include transitions(width, 0.3s);
    }

    .description-text {
        font-size: 1em;
    }


    .about-timeline {
        h3 {
            text-align: left;
            font-size: 1.75em;
        }
    }

    .skill-single {
        text-align: left;
        font-size: 1em;
        display: inline-block;
        margin: 0;
        padding-left: 0;
        font-weight: bolder;
    }

    .sk-dot {
        margin-left: 0.6em;
        width: 0.8em;
        height: 0.8em;
        border-radius: 36px;
    }

    .cbp_tmtimeline {
        margin: 0 0 0 0;
        padding: 0;
        list-style: none;
        position: relative;
        width: 100%
    } 

    .cbp_tmtimeline > li .cbp_tmtime span:first-child {
        font-size: 0.75em;
    }

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 0.9em;
    }


    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 5% 0.5% 22%;
        line-height: 1.4;
        font-size: 0.9em;
    }

    .cbp_tmtimeline:before {
        left: 17%;
    }


    .contact-icon {
        padding: 0 3% 0 3%;
    }

    #bottom-logo {
        width: 136px;
        margin-bottom: 2%;
    }



}


/* Small devices (tablets, 768px and up) */

/* SOCIAL MEDIA ICONS BREAK SIZE - LARGE SCREEN SIZES*/
@media screen and (min-width: 768px) {

    .nav-collapse { 
        text-align: center; 
    }
    .main-contact-buttons {
        display:block;
    }

    /*SOCIAL MEDIA ICONS*/

    .social-icon-nav {
        margin-left: 1em;
        font-size: 1.25em;
        color: $text;
    }

    .social-icon-nav:hover {
        color: $dullsky;
        @include transitions(color, 0.3s); 
    }


    .mobile-contact-buttons {
        display: none;
    }

    /*PORTFOLIO*/

    .portfolio-span {
        width:95%;
    }

    .effect-zoe {
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 320px;
        max-width: 400px;
        width: 45%;
        height: 45%;
        text-align: center;
        img {
            position: relative;
            display: block;
            // min-height: 100%;
            max-width: 100%;
            opacity: 1;
            @include transitions(opacity, 0.3s);
        }
        figcaption {
            position: absolute;
            font-size: 1em;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden; 

            // top: 90%;
            width: 95%;
            margin: 0 auto;
            bottom: 0;
            padding: 2.5%;
            // height: 1.75em;
            color: $text;
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
            h3 {
                position: absolute;
                bottom: 10px;
                left: 20px;
                color: $text;
                font-weight: bolder;
                border: none;
                font-size: 1.2em;
                display: inline-block;
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
            }
        }
        figcaption, figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .launch-buttons {
            position: absolute;
            right: 20px;
            bottom: 15px;
            i {
                font-size: 2em;
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                -webkit-transform: translate3d(0,200%,0);
                transform: translate3d(0,200%,0);
            }
        }
        .portfolio-description {
            opacity: 0.85;
            position: absolute;
            background: $seashell;
            top: 22%;
            color: $text;
            font-size: 60%;
            width: 90%;
            margin: 0 2.5% 0 2.5%;
            border-radius: 10px;
            padding: 2.5%;
            -webkit-transition: opacity 0.35s;
            transition: opacity 0.35s;
            -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(-200%,-195%,0);
            transform: translate3d(-200%,-195%,0);
        }
    }

    .social-icon-launch {
        font-size: 2em;
        margin: 0 0.05em 0 0.05em;
    }

    .portfolio-tools {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,-1000%,0);
        transform: translate3d(0,-1000%,0);
        li {
            font-size: 0.6em;
            background: $seashell;
            opacity: 0.85;
        }
    }

    .effect-zoe:hover {
        figcaption, figcaption h3, .launch-buttons i {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        img {
            opacity: 0.3;
            @include transitions(opacity, 0.3s);
        }
        h3 {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
           -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s; 
        }
        .portfolio-tools {
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        .portfolio-description {
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

    }


    .about-description {
        text-align: left;
        h3 {
            text-align: left;
            font-size: 1.75em;

        }
    }

    .skills-section {
        padding: 0 0 0 0;
    }

    .sk-dot {
        margin-left: 0.2em;
        margin-right: 0.1em;
    }

    .cbp_tmtimeline {
        padding: 0;
        list-style: none;
        position: relative;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 0.5% 28%;
    }

    .cbp_tmtimeline:before {
        left: 23%;
    }

}

/*for portfolio item font sizes */

@media screen and (min-width: 850px) {

    .effect-zoe {
        figcaption h3 {
            font-size: 1.4em;
        }
        .portfolio-description {
            font-size: 70%;
            top: 24%;
        }
    }

    .social-icon-launch {
        font-size: 2em;
        margin: 0 0.05em 0 0.05em;
    }

    .portfolio-tools {
        li {
            font-size: 0.7em;
            background: $seashell;
            opacity: 0.85;
        }
    }


    .sk-dot {
        margin-left: 0.3em;
        margin-right: 0.15em;
    }  

}

/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
  
    .effect-zoe {
        figcaption h3 {
            font-size: 1.6em;
        }
        .portfolio-description {
            font-size: 83%;
            top: 23%;
        }
    }

    .social-icon-launch {
        font-size: 2em;
        margin: 0 0.1em 0 0.1em;
    }

    .portfolio-tools {
        li {
            font-size: 0.8em;
            background: $seashell;
            opacity: 0.85;
        }
    }    

}

/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {

    .portfolio-single-wrapper {
        width: 900px;
    }

    .about-display {
        text-align: center;

    }

    .description-text {
        font-size: 1.2em;
    }

    .skill-single {
        font-size: 1.25em;
    }

    .sk-dot {
        width: 1.25em;
        height: 1.25em;
        margin: 0.15em 0.05em 0.15em 0.4em;
    }

    .cbp_tmtimeline {
        width: 100%;
    }  


    .cbp_tmtimeline > li .cbp_tmtime span:first-child {
        font-size: 0.8em;
    }

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 0.95em;
    }

    .cbp_tmtimeline:before {
        left: 20%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0% 0.5% 25%;
        font-size: 1em;
    }



}

